* {
    margin: 0;
    padding: 0;
}

.layout {
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
  
#navbar {
    height: 9vh;
    width: 100%;
    background-color: #760909;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
#navbar .site-adi{
    color: #cfd9e6;
    margin-left: 40px;
}

#navbar .navbar-menu {
    display : flex;
    width: 400px;
    height: 7vh;
    justify-content: space-around;
    align-items: center;
}

#navbar .navbar-menu a {
    color: #cfd9e6;
    text-decoration: none;
    font-size: 22px;
    transition: 0.2s;
    margin-right: 30px;
}



.btn1 {
    color:white;
    border: 1px solid #760909;
    background-color: #760909;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
    cursor: pointer; 
}
.btn2 {
    color:white;
    border: 1px solid #ffffff;
    background-color: #760909;
    border-radius: 20px;
    margin: 20px;
    margin-right: 30px;
    padding: 5px;
    font: larger;
    cursor: pointer;  
}
.btn3 {
    visibility: hidden;
    color:white;
    border: 1px solid #760909;
    background-color: #760909;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
}



.btn1:hover {
    color:white;
    background-color: rgb(120, 29, 9);
    border-radius: 20px;
    transition: 0.4s;
    transform: scale(1.10);
}
.btn2:hover {
    color:white;
    background-color: rgb(120, 29, 9);
    border-radius: 20px;
    transition: 0.4s;
    transform: scale(1.10);
}
.btn3:hover {
    color:white;
    background-color: rgb(120, 29, 9);
    border-radius: 20px;
    transition: 0.4s;
    transform: scale(1.10);
}


.show-user {
    width: 1000px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 7px;
    font-size: 13px; 
}

.main-search-user{
    border: 1px solid black;
    border-radius: 20px;
    width: 20%;
    height: 70%;
    padding-top: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.search-user {
    flex-direction:initial;
    display: flex;
    flex-direction: column;
}

.main-show-user {
    border: 1px solid black;
}







